@import "https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css";

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.fadeIn {
  -webkit-animation: fadein .25s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein .25s; /* Firefox < 16 */
  -ms-animation: fadein .25s; /* Internet Explorer */
  -o-animation: fadein .25s; /* Opera < 12.1 */
  animation: fadein .25s;
}

body {
  background: #fdfdfd;
  color: rgba(0,0,0,.75);
}

.logo {
  margin: 40px;
  width: 150px;
  background: #F2473F;
  color: #fff;
  text-align: center;
  position: fixed;
  top:0; left: 0;
}

.logo a { text-decoration: none; }

.main {
  margin: 80px auto;
}

a { color: inherit; }
.btn {
  display: inline-block;
  margin: auto 10px;
  padding: 10px 20px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.05);
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  font-weight: 300;
}

input[type="text"],
input[type="url"] {
  -webkit-appearance: none;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
}

input[type="text"]:focus,
input[type="url"]:focus {
  outline: none;
}

.App {
  text-align: center;
}

.thumbs {
  margin: 80px auto;
}

.SyllabusThumb {
  display: block;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 5px;
  margin: 10px auto;
  width: 80%;
  max-width: 800px;
  text-align: left;
  padding: 0px 20px;
  padding-right: 0;
  color: inherit;
}

.SyllabusThumb h3,
.SyllabusThumb p { 
  display: inline-block;
}

.SyllabusThumb p {
  color: rgba(0,0,0,.4);
  margin-left: 15px;
}

.SyllabusThumb.underline {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.NewSyllabus {
  margin: 50px auto;
}

.NewSyllabus input {
  width:60%;
  max-width: 600px;
}

.progress {
  width: 50%;
  border: 1px solid rgba(0,0,0,.2);
  height: 15px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
}

.bar {
  height: calc(100% - 4px);
  background: #17AB49;
  border-radius: 10px;
  border: 2px solid white;
}

.Syllabus {
  margin: 80px auto;
}

.Syllabus .buttons {
  margin: 50px auto;
  text-align: center;
}

.Syllabus .resources li {
  margin: 10px -20px;
  list-style-type: none;
  color: rgba(0,0,0,.6);
  font-size: 0.9em;
}

.Syllabus .resources li:before {
  margin: 10px;
  font-size: 1.8em;
  vertical-align: middle;
  color: rgba(0,0,0,0.5);
}

.Syllabus .units {
  list-style: none;
}

.Syllabus .units > li h2 {
  border-bottom: 1px solid rgba(0,0,0,0.15);
  padding-bottom: 5px;
  width: 90%;
}

.AddUnit .add,
.Syllabus .units {
  max-width: 800px;
  margin: 30px auto;
}

.AddUnit .add input {
  margin: 10px 0;
}

.AddUnit .add input.title,
.AddUnit .add input.name {
  width: 50%;
}

.AddUnit .add input.url {
  margin-left: 10px;
}

.AddUnit .btn.done {
  margin-top: 50px;
}
